/.idea
/cmake-build-debug
/newDirectory.zip
/cmake-build-debug-mingw
/cmake-build-release-mingw
/cmake-build-relwithdebinfo-mingw
/cmake-build-release
/out
/.vs
/.interface-design
/public/branches
/public/emulators.json
/public/vision-assets.js
/public/vision-assets.json
/public/erugiosu2
/interface-design-main
/interface-design
/cmake-build-release2
